*{
    margin: 0%;
    padding: 0%;
    box-sizing: auto;
}
:root{
    --fuentetitulo: "hatolie";
    --fuentesub:"a";
    --bgc:rgba(36, 20, 17, 1);
    --color-border: rgb(253, 207, 0);
}
body{
    background-color:var(--bgc);
    color: rgb(250, 232, 210);
    background-image: url();
  }
  .my-header {
    width: 100%;
    height: 10vh;
    display: flex;
    justify-content: space-between;
    background-color:var(--bgc);
    color: white;
    align-items: center;
    border-block-start: 1px solid yellow;
  }

  .navegador {
    width: 50%;
    height: 10%;
    display: flex;
    margin-top: 3%;
    padding: 1%;
    position: relative;
    margin-bottom: 3%;
  
  }
  .pulcra-nav {
    text-decoration: none;
    color: white;
    margin-inline: 2%;
    font-size: 2rem;
    font-family: var(--fuentetitulo);
  }
  
  .menu {
    width: 80%;
    display: flex;
    justify-content: space-around;
    list-style-type: none;
  }
  .enlace-nav{
    font-size: 1.7rem;
    text-decoration: none;
    color: #fff;
    font-family:var(--fuentetitulo);
  }
  
  .boton-nav {
    position: absolute;
    cursor: pointer;
    opacity: 0;
  }
  .modal {
    display: none; 
    position: fixed;
    z-index: 1;
    padding-top: 100px; 
    left: 0;
    top: 0;
    width: 100%; 
    height: 100%;
    overflow: auto; 
    background-color: rgb(0,0,0);
    background-color: rgba(0,0,0,0.4); 
  }
  
  .modal-content {
    background-color: #fefefe;
    margin: auto;
    color: #000;
    padding: 20px;
    border: 1px solid #888;
    width: 80%;
  }
  
  .close {
    color: #aaaaaa;
    float: right;
    font-size: 28px;
    font-weight: bold;
  }
  
  .close:hover,
  .close:focus {
    color: #000;
    text-decoration: none;
    cursor: pointer;
  }

  .fondo-principal{
    width: 100%;
    height: 90vh;
  }
  .presentacion{
    width: 100%;
    height: 80%;
    display: flex;
    justify-content: center;
    align-items: center;
    background-image: url("/imagenes/fondolampluz2.svg");
    background-repeat: no-repeat;
    background-position: center;
    background-size: contain;

 
  }
  .titulo-presentacion{
    font-family: var(--fuentetitulo);
    color: #fff;
    top: 30%;
    left: 0;
    right: 0;
    font-size: 7rem;
    margin: auto;
    text-align: center;
    align-items: center;
    
  }
  
  .cont-lema{
    width: 100%;
    height: 15vh;
    display: flex;
    text-align: center;
    align-items: center;
    margin: 0% auto;
  }
  .lema{
    width: 100%;
    padding: 1%;
    font-size: 2rem;
    font-family: var(--fuentetitulo);
   
  }
  .vista-a-productos{
    width: 100%;
    display: flex;
    flex-flow: column;
    text-align: center;
    text-align: center;
    justify-content: center;
   

    
  }
  .visita-textogrande{
    display: flex;
    padding: 3%;
    align-items: center;
    margin-inline: 10%;
    border-radius: 50px;

  }
  .imagen-visita-principal{
    width: 90%;
  }
  .visita-texto{
    width: 100%;
    text-align: center;
    font-size: 3rem;
    font-family: var(--fuentetitulo);
    font-family: var(--fuentetitulo);

  }
  .visita-textopeque{
    width: 50%;
    padding: 2%;
    font-size: 2rem;
    border-block-end-width: 3px;
    border-block-end-style: groove;
    border-block-end-color:var(--color-border);
    /* background-color: coral; */

  }
  .imagenes-flor-glass{
    height: 10%;
   float:right;
   display: flex;
   flex-flow: row-reverse;
  
  }
  .imagen-visita-glass{
    width: 100%;
    object-fit: cover;
  }
  .imagen-flor-visita{
    width: 40%;
    z-index: 1;

  }

  .carousel {
    max-width: 800px;
    margin: 0 auto;
    display: flex;
  }
  #imagen {
      width: 100%;
      height: 400px;
      background-size: cover;
  }
  /*--------------- tabs----------------- */
  .wrapper {
    width: 590px;
    margin: auto;
    background-color: white;
    border-radius: 10px;
    box-shadow: 0px 5px 15px rgba(0, 0, 0, .1);
  }
  
  .buttonWrapper {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
  }
  
  button {
    letter-spacing: 3px;
    border: none;
    padding: 10px;
    background-color: #bccbe9;
    color: #232c3d;
    font-size: 18px;
    cursor: pointer;
    transition: 0.5s;
  }
  
  button:hover {
    background-color: #d5e3ff;
  }
  
  button.active {
    background-color: white;
  }
  
  .active {
    background-color: white;
  }
  
  p {
    text-align: left;
    padding: 10px;
  }
  
  .content {
    display: none;
    padding: 10px 20px;
  }
  
  .content.active {
    display: block;
  }

  .us{
    margin: 0 auto;
  }
 
  .about-us{
    width: 100%;
    height: 60vh;
    display: flex;
    text-align: center;
  }
  .luz-fondoUs-cont{
    width: 60%;
    object-fit: contain;
  }
  .luz-Us{
    width: 60%;
    object-fit: cover;
  }
  .cont-us-description{
    height: 80%;
    display: flex;
    flex-flow: column;
    align-items: center;
    justify-content: space-around;

  }
  .us-y-descripcion{
    width: 30%;
    display: flex;
    flex-flow: column;
    align-items: center;
  }
  .titulo-aboutUs{
    width: 50%;
    padding: 2%;
    font-size: 2rem;
    border-block-end-width: 3px;
    border-block-end-style: groove;
    border-block-end-color:var(--color-border);
    font-family: var(--fuentetitulo);
  
  }


  .Us-caja-amarilla{
    width: 50%;
    margin: 0 auto;
    height: 30vh;
    display: flex;
    align-items: center;
    text-align: center;
    justify-content: space-between;
    border: 3px solid var(--color-border) ;

  }
  .caja-amarilla-texto{
    width: 50%;
    margin: 3%;
  }
  
  .my-footer{
    height: 30vh;
    background-color: rgba(141, 68, 0, 1);
    text-align: center;
  }
  .pulcrha-footer{
    padding: 2%;
    font-size: 3rem;
    font-family: var(--fuentetitulo);
  }
  .redes{
    font-size: 1.3rem;
  }
  .redes-img{
    display: flex;
    justify-content: space-between;
  }
  .cont-img-redes{
    display: grid;
    margin-inline: 5%;
    grid-template-columns: auto auto;
  }

  
  @media screen and (max-width: 600px) {
    .my-header{
      position: fixed;

    }
  
    .boton-nav {
      opacity: 1;
    }
  
    #boton-nav {
      opacity: 0;
    }
  
    .navegador .menu-btn {
      display: block;
      width: 50%;
    }
  
    .navegador {
      width: 10%;
      display: flex;
      border: none;

    }
  
    .navegador .menu {
      position: fixed;
      left: -100%;
      background: #111;
      margin-top: 5%;
      height: 80vh;
      width: 50%;
      text-align: center;
      display: block;
      flex-wrap: wrap;
      transition: all 0.3s ease;
      
    }
  
    #boton-nav:checked ~ .menu {
      left: 0;
    }
  
    .navegador .menu .lista-nav {
      width: 100%;
      margin: 40px 0;
    }
  
    .navegador .menu .lista-nav .enlace-nav:hover {
      background: none;
      color: rgb(255, 0, 242);
    }
  
    .navegador .menu .lista-nav .enlace-nav {
      color: white;
      text-decoration: none;
      margin-left: -100%;
      display: block;
      font-size: 20px;
      transition: 0.6s cubic-bezier(0.68, -0.55, 0.265, 1.55);
    }
  
    #boton-nav:checked ~ .menu .lista-nav .enlace-nav {
      margin-left: 5px;
    }
    .fondo-principal{
      height: 50vh;
      background-position:right;
    
    }
    .lamparas-presentacion{
      width: 90%;
    }
    .lamparas-prin{
      width: 100%;
      height: 40vh;
  

    }
    .titulo-presentacion{
      font-size: 300%;
    }
    .visita-textogrande{
      display: block;
      flex-flow: column;
      background-color: #640c0c;
    }
    .about-us{
      height: 800px;
      display: flex;
      flex-flow: column;
      text-align: center;
      align-items: center;
    }
    .us-y-descripcion{
      width: 90%;
      height: 800px;
      font-size: 1.3rem;
      margin-inline: 40%;
    }
    .luz-fondoUs-cont{
      width: 90%;
    }
  
     }
     