*{
    margin: 0%;
    padding: 0%;
    box-sizing: auto;
}
:root{
    --fuentetitulo: "hatolie";
    --fuentesub:"Arial,Helvetica,sans-serif";
    --bgc:rgb(19, 8, 3);
    --color-border: rgb(253, 207, 0);
}
body{
    background-color:var(--bgc);
    color: rgb(255, 255, 255);
    background-image: url();
  }
  .my-header {
    width: 100%;
    height: 10vh;
    display: flex;
    color: white;
    align-items: center;
    background-color:var(--bgc);
    justify-content: space-between;
 
  }

  .navegador {
    width: 50%;
    height: 10%;
    display: flex;
    margin-top: 2%;
    position: relative;
    margin-bottom: 3%;
  
  }
  .pulcra-nav {
    color: rgb(255, 255, 255);
    font-size: 3rem;
    margin-inline: 2%;
    text-decoration: none;
    justify-content: center;
    font-family: var(--fuentetitulo);
  }
  
  .menu {
    width: 100%;
    display: flex;
    align-items: center;
    list-style-type: none;
    justify-content: space-around;
  }

  .enlace-nav{
    color: #fff;
    font-size: 2rem;
    text-decoration: none;
    font-family:var(--fuentetitulo);
  }
  
  .boton-nav {
    position: absolute;
    cursor: pointer;
    opacity: 0;
  }


  .modal {
    display: none; 
    position: fixed;
    z-index: 1;
    padding-top: 100px; 
    left: 0;
    top: 0;
    width: 100%; 
    height: 100%;
    overflow: auto; 
    background-color: rgb(0,0,0);
    background-color: rgba(0,0,0,0.4); 
  }
  
  .modal-content {
    width: 40%;
    height: 40vh;
    color: #000;
    padding: 20px;
    margin: auto;
    align-items: center;
    border: 1px solid #888;
    background-color: #fefefe;
    background-image: url(/imagenes/gradient\ login.png);
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
  }
  
  .close {
    color: #aaaaaa;
    float: right;
    font-size: 28px;
    font-weight: bold;
  }
  
  .close:hover,
  .close:focus {
    color: #000;
    text-decoration: none;
    cursor: pointer;
  }
  .modal-cont-texto{
    margin: 3%;
    text-align: center;
    font-family: var(--fuentetitulo);
  }
  .modal-titulo{
    font-size: 2rem;
    letter-spacing: 2px;

  }
  .loginForm{
    text-align: center;
  }
  .btn-login{
    width: 40%;
    margin: 3%;
    padding: 2%;
    border: 3px solid rgb(107, 5, 121);
    border-radius: 5px;
    background-color: #ffffff;
  }
  .btn-login:hover{
    background-color: #ac3ef5;
  }
  



  .fondo-principal{
    width: 100%;
    height: 100vh;
    background-image: url("/imagenes/fondolampluz2.svg");
    background-repeat: no-repeat;
    background-position: center;
    background-size: contain;
  }
  .presentacion{
    width: 100%;
    height: 80%;
    display: flex;
    justify-content: center;
    align-items: center;
  }
  .titulo-presentacion{
    font-family: var(--fuentetitulo);
    color: #fff;
    top: 30%;
    left: 0;
    right: 0;
    font-size: 7rem;
    font-weight: 100;
    margin: auto;
    text-align: center;
    align-items: center;
    
  }



  .cont-lema{
    width: 100%;
    height: 15vh;
    display: flex;
    text-align: center;
    align-items: center;
    margin: 0% auto;
  }
  .lema{
    width: 100%;
    padding: 1%;
    font-size: 2rem;
    font-family: var(--fuentetitulo);
    -webkit-animation: lema 0.8s cubic-bezier(0.215, 0.610, 0.355, 1.000) both;
	        animation: lema 0.8s cubic-bezier(0.215, 0.610, 0.355, 1.000) both;
    
   
  }
  @-webkit-keyframes lema {
    0% {
      letter-spacing: 1em;
      opacity: 0;
    }
    40% {
      opacity: 0.6;
    }
    100% {
      letter-spacing: normal;
      opacity: 1;
    }
  }
  @keyframes tracking-in-contract {
    0% {
      letter-spacing: 1em;
      opacity: 0;
    }
    40% {
      opacity: 0.6;
    }
    100% {
      letter-spacing: normal;
      opacity: 1;
    }
  }
  
  
 
 
  


  .vista-a-productos{
    display: flex;
    padding: 3%;
    align-items: center;
    margin-inline: 10%;
  
  }
  .visita-bloque-texto{
    height: 100%;
    justify-content: space-between;
  }
  .imagen-visita-principal{
    width:100%;
   object-fit:contain;
  }
  .visita-texto{
    width: 100%;
    text-align: center;
    font-size: 3rem;
    font-family: var(--fuentetitulo);
    font-family: var(--fuentetitulo);

  }
  .cont-imagen-visita-glass{
    height: 100%;
    display: flex;

  }
  .imagen-visita-glass{
    width: 50%;
    margin-left: 50%;
  }
  .imagen-visita-glass:hover{
    -webkit-transform:scale(1);transform:scale(0.9);
    box-shadow: 5px 5px  20px rgba(255, 183, 0, 0.574);
  }
 
 

  .carousel{
    max-width: 800px;
    margin: 0 auto;
    display: flex;
  }
  #imagen {
      width: 100%;
      height: 400px;
      background-size: cover;
  }
  /*--------------- tabs----------------- */

  .botones {
    margin: auto;
    letter-spacing: 3px;
    border: none;
    padding: 10px;
    background-color:var(--bgc);
    color: #ffffff;
    font-size: 1.3rem;
    cursor: pointer;
    transition: 0.5s;
  }
  
  .botones :hover {
    background-color: #fffabf;
  }

  .content {
    display: none;
    padding: 10px 20px;

  }
  
  .content.active {
    display: block;
    display: grid;
    grid-template-columns: auto auto auto;
    padding: 10px;
    
   
  }
  
  .imagenesTab{
    width: 70%;
    object-fit: contain;
    display: flex;

}
.cont-nombreImagenes{
  width: 50%;
  font-family: Arial, Helvetica, sans-serif;
}
.nombreImagenes{
  width: 50%;
  letter-spacing: 2px;
  color: #fff;
  text-decoration: none;
}
.contImages{
    width: 80%;
    display: grid;
    grid-template-columns: auto auto auto;
    padding: 3%;
    margin: auto;
    background-image: url(/imagenes/fondoregistro.png);
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
    border-radius: 80px;
    box-shadow: 0px 5px 15px rgba(0, 0, 0, .1);
}
.cont-botones{
  margin: auto;
  text-align: center;
}
  
  #heart {
    display: none;
  }

  #heart:checked ~ #labelHeart {
    color: red;
  }

  #labelHeart {
    font-size: 2em;
  }



  .us{
    margin: 0 auto;
  }
 
  .about-us{
    width: 100%;
    height: 80vh;
    display: flex;
    text-align: center;
    justify-content:space-around;
  }
  .luz-fondoUs-cont{
    width: 50%;
    background-image: url(/imagenes/fondoluz2.png);
    background-position: center;
    background-size: contain;
    background-repeat: no-repeat;
   

  }
  .luz-Us{
    width: 50%;
    object-fit: cover;
    transform: translateX(0px);
    animation: float 6s ease-in-out infinite;
   
  }
  @keyframes float{
    0%{
      transform: translateY(0px);
    }
    50%{
      transform: translateY(-20px);
    }
    100%{
      transform: translateY(0px);
    }
  }
  .cont-us-description{
    width: 80%;
    height: 80%;
    display: flex;
    font-size: 1.4rem;
    flex-flow: column;
    align-items: center;
    justify-content: space-around;
   
  }
  .us-y-descripcion{
    width: 40%;
    display: flex;
    flex-flow: column;
    align-items: center;
    font-size: 1.5rem;
    font-weight: 50;
    letter-spacing: 3px;
    font-family:var(--fuentesub);

  }

  .titulo-aboutUs{
    width: 50%;
    padding: 2%;
    font-size: 4rem;
    border-block-end-width: 3px;
    border-block-end-style: groove;
    border-block-end-color:var(--color-border);
    font-family: var(--fuentetitulo);
  
  }
  .Us-caja-amarilla{
    width: 70%;
    height: 30vh;
    margin: 0 auto;
    display: flex;
    align-items: center;
    text-align: center;
    justify-content: space-between;
    border: 3px solid var(--color-border) ;

  }
  .caja-amarilla-texto{
    width: 100%;
    margin: 2%;
    font-size: 1.3rem;
    font-weight: 50;
    letter-spacing: 3px;
    font-family:var(--fuentesub);
  }
  .imagen-visita-principal:hover{
    -webkit-transform:scale(1);transform:scale(0.9);
    box-shadow: 5px 5px  20px rgba(255, 166, 0, 0.574);
  }

  
  
  .my-footer{
    height: 90%;
    background-color: rgb(92, 38, 2);
    text-align: center;
  }
  .pulcrha-footer{
    padding: 1%;
    font-size: 3rem;
    font-family: var(--fuentetitulo);
  }
  .redes{
    font-size: 1.3rem;
  }
  .redes-img{
    display: flex;
    justify-content: space-between;
  }
  .cont-img-redes{
    display: grid;
    margin-inline: 5%;
    grid-template-columns: auto auto;
  }


  @media screen and (max-width: 900px) {
    .my-header{
      position: fixed;
      display: flex;
      align-items: center;
    }
  
    .boton-nav {
      opacity: 1;
    }
  
    #boton-nav {
      opacity: 0;
    }
  
    .navegador .menu-btn {
      display: block;
      width: 50%;
      
    }
  
    .navegador {
      width: 10%;
      display: flex;
      border: none;
      margin-bottom: 10%;
    }
  
    .navegador .menu {
      position: fixed;
      left: -100%;
      background: #111;
      margin-top: 5%;
      height: 80vh;
      width: 50%;
      text-align: center;
      display: block;
      flex-wrap: wrap;
      transition: all 0.3s ease;
      
    }
  
    #boton-nav:checked ~ .menu {
      left: 0;
    }
  
    .navegador .menu .lista-nav {
      width: 100%;
      margin: 40px 0;
    }
  
    .navegador .menu .lista-nav .enlace-nav:hover {
      background: none;
      color: rgb(255, 0, 242);
    }
  
    .navegador .menu .lista-nav .enlace-nav {
      color: white;
      text-decoration: none;
      margin-left: -100%;
      display: block;
      font-size: 20px;
      transition: 0.6s cubic-bezier(0.68, -0.55, 0.265, 1.55);
    }
  
    #boton-nav:checked ~ .menu .lista-nav .enlace-nav {
      margin-left: 5px;
    }
    .fondo-principal{
      height: 40vh;
      background-position: center;
      background-size: contain;
    
    }
    .lamparas-presentacion{
      width: 90%;
    }
    .lamparas-prin{
      width: 100%;
      height: 40vh;

    }
    .presentacion{
      height: 100%;
    }
    .titulo-presentacion{
      font-size:3rem;
      align-items: center;
    
    }
    .visita-textogrande{
      display: block;
      flex-flow: column;
      background-color: #640c0c;
    }
    .visita-texto{
      font-size: 1.5rem;
    }
    .about-us{
      height: 800px;
      display: flex;
      flex-flow: column;
      text-align: center;
      align-items: center;
    }
    .us-y-descripcion{
      width: 90%;
      height: 800px;
      font-size: 1.3rem;
      margin-inline: 40%;
    }
    .luz-fondoUs-cont{
      width: 90%;
    }
    .Us-caja-amarilla{
      height: 100%;
      display: flex;
      flex-flow: column;
    }
    .cont-us-description{
      font-size: 1.4rem;
    }
    .caja-amarilla-texto{
      padding: 3%;
    }
  
     }
     