* {
    margin: 0;
    padding: 0;
    box-sizing: auto;
  }
  @font-face {
    font-family: Hatolie;
    src: url(/fuentes/Hatolie.ttf);
  }
  :root{
    --fuentetitulo: "Hatolie";
    --fuentesub:"fuentes/NordicaThin";
    --bgc:rgba(36, 20, 17, 1);
    }
    body{
    background-color:var(--bgc);
    color: rgb(255, 255, 255);
    }
  
  .my-header {
    width: 100%;
    display: flex;
    color: white;
    align-items: center;
    justify-content: space-between;
    background-color:var(--bgc);

  }
  
  .pulcra-nav {
    color: white;
    font-size: 3rem;
    margin-inline: 2%;
    text-decoration: none;
    justify-content: center;
    font-family: Hatolie;
  }
  
  .navegador {
    width: 50%;
    height: 10%;
    display: flex;
    margin-top: 2%;
    position: relative;
    margin-bottom: 3%;

  }
  
  .menu {
    width: 100%;
    display: flex;
    align-items: center;
    list-style-type: none;
    justify-content: space-around;
  }
  
  .boton-nav {
    position: absolute;
    cursor: pointer;
    opacity: 0;
  }
  
  .enlace-nav {
    color: #fff;
    font-size: 2rem;
    text-decoration: none;
    font-family:var(--fuentetitulo);
  }
  .seccion-principal{
    width: 100%;
    height: 90vh;
    display: flex;
    background-image: url("/imagenes/lampgrande.png");
    background-repeat: no-repeat;
    background-position: 0 0;
    background-size: contain;

  }
  .img-lamps{
    width: 50%;
  }
  
  .seccion-article{
    width: 100vh;
    height: 50vh;
    padding: 5%;
  }
 
  .titulo-prin{
    width: 100%;
    display: flex;
    font-size: 9rem;
    font-weight: 100;
    text-align: center;  
    justify-content: center;
    font-family: var(--fuentetitulo);
   
  }
   .frase-us{
    height: 10vh;
    display: flex;
    top: 65%;
    left: 80%;
    font-size: 2rem;
    align-items: center;
    justify-content: flex-end;
    font-family: var(--fuentetitulo);

   }
    .seguir-btn{
    text-decoration: none;
    color: white;
    background-color: #572507;
    border: none;
    padding: 15px;
    margin: 5%;
    font-size: 1rem;
    border-radius: 10px;
    justify-content: center;
    align-items: center;
    text-align: center;
    font-family:'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;

    }
    .seguir-btn:hover{
      background-color: #fdd300;
      transition:.3s ease all ;
      box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(252, 230, 64, 0.76);
    }
    
   


  @media screen and (max-width: 600px) {
    .my-header{
      position: fixed;
      display: flex;
      align-items: center;
    }
    
    .boton-nav {
      opacity: 1;
    }
  
    #boton-nav {
      opacity: 0;

    }
  
    .navegador {
      width: 15%;
      border: none;
      /* no quiero usar este m-botton pero no me lo alinea sin esto :( */
      margin-bottom: 10%;
    }
  
    .navegador .menu {
      position: fixed;
      left: -100%;
      background: #111;
      height: 90vh;
      width: 50%;
      text-align: center;
      display: block;
      flex-wrap: wrap;
      transition: all 0.3s ease;
      z-index: 1;
  
    }
  
    #boton-nav:checked ~ .menu {
      left: 0;
    }
  
    .navegador .menu .lista-nav {
      width: 100%;
      margin: 40px 0;
    }

  
    .navegador .menu .lista-nav .enlace-nav {
      color: white;
      text-decoration: none;
      margin-left: -100%;
      display: block;
      font-size: 20px;
      transition: 0.6s cubic-bezier(0.68, -0.55, 0.265, 1.55);
    }
  
    #boton-nav:checked ~ .menu .lista-nav .enlace-nav {
      margin-left: 5px;
    }
    .img-lamps{
      display: none;
    }
    .seccion-article{
      width: 100%;
      height: 100vh;
      padding: 5%;
      display:grid;
      align-items: center;
      justify-content: center;
   

    }
    .titulo-prin{
      width: 100%;
      font-size: 4rem;
      display: flex;
      text-align: center;  
      justify-content: center;
    }
    .seccion-principal{
      background-position: 0 0;
       
   }
   .seccion-principal-texto{
    height: 100%;
    display: flex;
    flex-flow: column;
    align-items: center;
    justify-content: space-around;

   }

     }