*{
    margin: 0%;
    padding: 0%;
    box-sizing: auto;
}

 :root{
    --fuentetitulo: "hatolie";
    --fuentesub:"arial";
    --bgc:rgba(36, 20, 17, 1);
}
body{
  background-color:var(--bgc);
  color: rgb(250, 232, 210);
}
/* .header-nav{
    position: fixed;
    overflow: hidden;
    display: flex;
    background-color: var(--bgc);
    top: 0;
    width: 100%;
    z-index: 1;
  } */
/* 
  .navegador{
    width: 100%;
    display: flex;
    justify-content: space-between;
    border-block-start: 1px solid yellow;
   
  } 
  .titulo-nav{
    font-size: 1rem;
    font-family: var(--fuentetitulo);
  } 
  .nav-lista{
    width: 100%;
    display: flex;
    font-size: 2rem;
    font-family: var(--fuentetitulo);
    align-items: center;
    justify-content: space-evenly;
    list-style-type: none;
  }
  .list-y-button{
    width: 50%;
    display: flex;
    justify-content: space-around;
  }
  .click {
    position: absolute;
    cursor: pointer;
    opacity: 0;

  } */
  header {
    display: flex;
    justify-content: space-between;
    background-color: #03037b;
    color: white;
    align-items: center;
  }
  /* header input {
    color: #000010;
  } */
  
  .logo {
    width: 10%;
    border-radius: 50%;
  }
  
  nav {
    margin-top: 2%;
    position: relative;
    width: 50%;
    height: 20%;
    margin-bottom: 3%;
  }
  
  .menu {
    display: flex;
    justify-content: space-around;
    list-style-type: none;
  }
  
  .click {
    position: absolute;
    cursor: pointer;
    opacity: 0;
  }
  
  .menu1 {
    text-decoration: none;
    color: white;
  }
.btn-espacio{
    height: 10vh;
    margin-block-start: 10%;
}
.seguir-btn{
    background-color: #99420c;
    border: none;
    padding: 15px;
    font-size: 1rem;
    border-radius: 10px;


}
.titulo-prin{
  position: absolute;
  top: 20%;
  width: 100%;
  left:20% ;
  font-size: 5rem;
  text-align: center;  
  font-family: var(--fuentetitulo);

}

.img-bg{
   background-repeat: no-repeat;
   background-size:contain;
   background-position:initial; 
   margin-block-start: 5%;
   left: 80%;
   height: 100vh;
}

@media (max-width: 390px), (max-height: 880px){ 
  .seccion-principal{
    position: relative;
     }
    header {
      position: fixed;
    }
  
    .titulocaja {
      margin-top: 15%;
    }
  
    .click {
      opacity: 1;
    }
  
    #click {
      opacity: 0;
    }
  
    nav .menu-btn i {
      display: block;
      width: 50%;
    }
  
    nav {
      width: 10%;
      margin-bottom: 5%;
    }
  
    nav ul {
      position: fixed;
      left: -100%;
      background: #111;
      height: 90vh;
      width: 50%;
      text-align: center;
      display: block;
      flex-wrap: wrap;
      transition: all 0.3s ease;
    }
  
    #click:checked ~ ul {
      left: 0;
    }
  
    nav ul li {
      width: 100%;
      margin: 40px 0;
    }
  
    nav ul li a:hover {
      background: none;
      color: rgb(255, 0, 242);
    }
  
    nav ul li a {
      /* width: 100%; */
      color: white;
      text-decoration: none;
      margin-left: -100%;
      display: block;
      font-size: 20px;
      transition: 0.6s cubic-bezier(0.68, -0.55, 0.265, 1.55);
    }
  
    #click:checked ~ ul li a {
      margin-left: 0px;
    }
  
  .titulo-prin{
    position: absolute;
    top: 20%;
    width: 100%;
    text-align: center;  
    font-family: var(--fuentetitulo);
 
  }
  .img-bg{
    background-image: url(/imagenes/lamp42grand.svg);
   background-position:initial; 
   margin-block-start: 5%;
   left: 80%;
   height: 60vh;
  }
  .sidebar {
    height: 100%;
    width: 0;
    position: fixed;
    z-index: 1;
    top: 0;
    right: 0;
    background-color: #fff;
    overflow-x: hidden;
    transition: 0.5s;
    padding-top: 60px;
  }
  
  .sidebar a {
    padding: 8px 8px 8px 32px;
    text-decoration: none;
    font-size: 25px;
    color: #818181;
    display: block;
    transition: 0.3s;
  }
  
  .sidebar .closebtn {
    position: absolute;
    top: 0;
    right: 25px;
    font-size: 36px;
    margin-left: 50px;
  }
  .openbtn {
    cursor: pointer;
    background-color: var(--bgc);
    border: none;
  }
 
  
  .openbtn:hover {
    background-color: #444;
  }

  
  /* On smaller screens, where height is less than 450px, change the style of the sidenav (less padding and a smaller font size) */

    .sidebar {padding-top: 15px;}
    .sidebar a {font-size: 18px;}
 
  
   .seccion-article{
    justify-content: center;
    text-align: center;
   }
   .frase-art{
    height: 80px;
    justify-content: center;
    text-align: center;
   }
   .frase-us{
    display: flex;
    font-family: var(--fuentesub);
    font-size: 1rem;
    justify-content: center;
    height: 10vh;
    align-items: center;
   }
   .btn-espacio{
    height: 10vh;
    margin-block-start: 10%;
    align-items: center;
    justify-content: center;
    }
    .seguir-btn{
    background-color: #99420c;
    border: none;
    padding: 15px;
    margin: 5%;
    font-size: 1rem;
    border-radius: 10px;
    justify-content: center;
    align-items: center;

    }
   

    
 }