* {
    margin: 0;
    padding: 0;
    box-sizing: auto;
  }
  :root{
    --fuentetitulo: "hatolie";
    --fuentesub:"arial";
    --bgc:rgba(36, 20, 17, 1);
    }
    body{
    background-color:var(--bgc);
    color: rgb(255, 255, 255);
    }
  
  .my-header {
    width: 100%;
    display: flex;
    justify-content: space-between;
    background-color:var(--bgc);
    color: white;
    align-items: center;
  }
  
  .pulcra-nav {
    text-decoration: none;
    color: white;
    font-family: var(--fuentetitulo);
  }
  
  .navegador {
    width: 50%;
    height: 20%;
    display: flex;
    margin-top: 2%;
    position: relative;

    margin-bottom: 3%;
  }
  
  .menu {
    width: 80%;
    display: flex;
    justify-content: space-around;
    list-style-type: none;
  }
  
  .boton-nav {
    position: absolute;
    cursor: pointer;
    opacity: 0;
  }
  
  .enlace-nav {
    text-decoration: none;
    color: white;
  }
  .seccion-principal{
    height: 90vh;
    display: flex;
    background-image: url(/imagenes/lampgrande.png);
    background-repeat: no-repeat;
    background-position: left;
    background-size: contain;

  }
  .img-lamps{
    width: 50%;
  }
  
  .seccion-article{
    width: 100vh;
    height: 50vh;
    padding: 5%;
  }
 
  .titulo-prin{
    width: 100%;
    font-size: 7rem;
    display: flex;
    text-align: center;  
    justify-content: center;
    font-family: var(--fuentetitulo);
   
  }
   .frase-us{
    display: flex;
    font-family: var(--fuentesub);
    font-size: 1.5rem;
    justify-content: flex-end;
    height: 10vh;
    align-items: center;
    top: 65%;
    left: 80%;
 

   }
    .seguir-btn{
    background-color: #99420c;
    border: none;
    padding: 15px;
    margin: 5%;
    font-size: 1rem;
    border-radius: 10px;
    justify-content: center;
    align-items: center;
    text-align: center;

    }
   


  @media screen and (max-width: 600px) {
    .my-header{
      position: fixed;
    }

    .titulocaja {
      margin-top: 15%;
    }
  
    .boton-nav {
      opacity: 1;
    }
  
    #boton-nav {
      opacity: 0;
    }
  
    .navegador .menu-btn {
      display: block;
      width: 50%;
    }
  
    .navegador {
      width: 10%;
      margin-bottom: 5%;

    }
  
    .navegador .menu {
      position: fixed;
      left: -100%;
      background: #111;
      height: 90vh;
      width: 50%;
      text-align: center;
      display: block;
      flex-wrap: wrap;
      transition: all 0.3s ease;
      z-index: 1;
  
    }
  
    #boton-nav:checked ~ .menu {
      left: 0;
    }
  
    .navegador .menu .lista-nav {
      width: 100%;
      margin: 40px 0;
    }
  
    .navegador .menu .lista-nav .enlace-nav:hover {
      background: none;
      color: rgb(255, 0, 242);
    }
  
    .navegador .menu .lista-nav .enlace-nav {
      color: white;
      text-decoration: none;
      margin-left: -100%;
      display: block;
      font-size: 20px;
      transition: 0.6s cubic-bezier(0.68, -0.55, 0.265, 1.55);
    }
  
    #boton-nav:checked ~ .menu .lista-nav .enlace-nav {
      margin-left: 5px;
    }
    .img-lamps{
      width: 0%;
    }
    .seccion-article{
      width: 50vh;
      height: 100vh;
      padding: 5%;
      display:grid;
      align-items: center;
      text-align: center;
      justify-content: center;

    }
    .titulo-prin{
      width: 100%;
      font-size: 4rem;
      display: flex;
      text-align: center;  
      justify-content: center;
    }
    .seguir-btn{
      width: 20vh;
      height: 10vh;
    }
     }