*{
    margin: 0%;
    padding: 0%;
    box-sizing: auto;
}
@font-face {
  font-family: Hatolie;
  src: url(/fuentes/Hatolie.ttf);
}
:root{
    --fuentetitulo: "Hatolie";
    --fuentesub:"a";
    --bgc:rgba(36, 20, 17, 1);
    --color-border: rgb(253, 207, 0);
}
body{
    background-color:var(--bgc);
    color: rgb(255, 255, 255);
    background-image: url();


  }
  .my-header {
    width: 100%;
    height: 10vh;
    display: flex;
    justify-content: space-between;
    background-color:var(--bgc);
    color: white;
    align-items: center;
    border-block-start: 1px solid yellow;
  }

  .navegador {
    width: 50%;
    height: 10%;
    margin: 2%;
    display: flex;
    position: relative;
    margin-bottom: 3%;
  
  }
  .pulcra-nav {
    text-decoration: none;
    color: rgb(255, 255, 255);
    margin: 2%;
    font-size: 3rem;
    font-family: var(--fuentetitulo);
  }
  
  .menu {
    width: 100%;
    display: flex;
    justify-content: space-around;
    list-style-type: none;
  }
  .enlace-nav{
    font-size: 1.7rem;
    text-decoration: none;
    color: #fff;
    font-family:var(--fuentetitulo);
  }
  
  .boton-nav {
    position: absolute;
    cursor: pointer;
    opacity: 0;
  }

  .fondo-principal{
    height: 100%;
    background-image: url(/imagenes/fondoregistro.png);
    justify-content: center;
    background-size: cover;
    background-size: 100%;
    background-repeat: no-repeat;
       
  }
  .cajaimg-form{
    height: 90vh;
    display: flex;
    justify-content:space-around;
    align-items: center;
    margin-inline: 4%;

  }

  .imagen-pulchra{
   width: 50%;
   display: flex;
   align-items: center;
   justify-content: center;
   
  
  }

  .img-registro{
    width: 100%;
    height: 80vh;
    object-fit: contain;
    
  }
  .form-pulchra{
    width: 90%;
    height: 40vh;
    margin: 5%;
    padding: 3%;
    display: grid;
    background-color: white;
    color: black;
    font-size: 1.3rem;
    text-align: center;
    align-items: center;
    letter-spacing: 2px;
    font-family: var(--fuentesub);
  }
  .inputForm{
    height: 20px;
  }
  .titulo-pulchra{
    font-size: 3rem;
    letter-spacing: 4px;
    font-family: var(--fuentetitulo);
  }
  .btn-registro{
    background-color: #792d2d;
    color: #fff;
    border: none;
    padding: 3%;
  }
  .log-up{
    font-size: 6rem;
    letter-spacing: 4px;
    font-family: var(--fuentetitulo);
  }

  .log-up-date{
    height: 10%;
    display: flex;
    padding:1%;
    flex-direction: column;
    text-align: center;


  }
  .fecha-y-hora{
    font-size: 3rem;
    margin: 1%;
    font-family: var(--fuentetitulo);
  }

  .my-footer{
    height: 20vh;
    background-color: rgba(141, 68, 0, 1);
    text-align: center;
  }
  .pulcrha-footer{
    font-size: 3rem;
    font-family: var(--fuentetitulo);
  }
  .redes{
    font-size: 1.3rem;
  }
  .redes-img{
    display: flex;
    justify-content: space-between;
  }
  .cont-img-redes{
    display: grid;
    margin-inline: 5%;
    grid-template-columns: auto auto;
  }
  @media screen and (max-width: 900px) {
    .my-header{
      position: fixed;

    }
  
    .boton-nav {
      opacity: 1;
    }
  
    #boton-nav {
      opacity: 0;
    }
  
    .navegador .menu-btn {
      display: block;
      width: 50%;
    }
  
    .navegador {
      width: 10%;
      display: flex;
      border: none;
      margin-bottom: 10%;

    }
  
    .navegador .menu {
      position: fixed;
      left: -100%;
      background: #111;
      margin-top: 5%;
      height: 80vh;
      width: 50%;
      text-align: center;
      display: block;
      flex-wrap: wrap;
      transition: all 0.3s ease;
      
    }
  
    #boton-nav:checked ~ .menu {
      left: 0;
    }
  
    .navegador .menu .lista-nav {
      width: 100%;
      margin: 40px 0;
    }
  
    .navegador .menu .lista-nav .enlace-nav:hover {
      background: none;
      color: rgb(255, 0, 242);
    }
  
    .navegador .menu .lista-nav .enlace-nav {
      color: white;
      text-decoration: none;
      margin-left: -100%;
      display: block;
      font-size: 20px;
      transition: 0.6s cubic-bezier(0.68, -0.55, 0.265, 1.55);
    }
  
    #boton-nav:checked ~ .menu .lista-nav .enlace-nav {
      margin-left: 5px;
    }
    .imagen-pulchra{
      width: 100%;
      height: 30vh;
      margin-block-start: 10%;
    }
    .img-registro{
      width: 100%;
      height: 100%;
    }
    .cajaimg-form{
      flex-wrap: wrap;
        height: 100vh;
    }
    .form-pulchra{
      width: 70%;
      height: 50vh;
      padding: 5%;
      flex-wrap: wrap;
    }
    .fondo-principal{
      height: 100%;
      background-size: cover;
    }
    .log-up-date{
      height: 50%;
      padding:10%;
  
    }
     }
