*{
    margin: 0%;
    padding: 0%;
    box-sizing: auto;
}
:root{
    --fuentetitulo: "hatolie";
    --fuentesub:"a";
    --bgc:rgba(36, 20, 17, 1);
    --color-border: rgb(253, 207, 0);
}
body{
    background-color:var(--bgc);
    color: rgb(250, 232, 210);
    background-image: url();


  }
  .my-header {
    width: 100%;
    height: 10vh;
    display: flex;
    justify-content: space-between;
    background-color:var(--bgc);
    color: white;
    align-items: center;
    border-block-start: 1px solid yellow;
  }

  .navegador {
    width: 50%;
    height: 10%;
    margin: 2%;
    display: flex;
    padding: 1%;
     margin: 2%;
    position: relative;
    margin-bottom: 3%;
  
  }
  .pulcra-nav {
    text-decoration: none;
    color: rgb(255, 255, 255);
    margin: 2%;
    font-size: 3rem;
    font-family: var(--fuentetitulo);
  }
  
  .menu {
    width: 80%;
    display: flex;
    justify-content: space-around;
    list-style-type: none;
  }
  .enlace-nav{
    font-size: 1.7rem;
    text-decoration: none;
    color: #fff;
    font-family:var(--fuentetitulo);
  }
  
  .boton-nav {
    position: absolute;
    cursor: pointer;
    opacity: 0;
  }

  
  .cajaimg-form{
    height: 90vh;
    display: flex;
    align-items: center;
    background-image: url(/imagenes/fondoregistro.png);
    background-size: 100%;
    background-repeat: no-repeat;
   
  }

  .imagen-pulchra{
   width: 60%;
   display: flex;
   align-items: center;
   justify-content: center;
   
  }

  .img-registro{
    width: 100%;
  }
  .form-pulchra{
    width: 90%;
    height: 50vh;
    margin: 5%;
    display: grid;
    background-color: white;
    border: 1px solid rgba(0, 0, 0, 0.8);
    color: black;
    padding: 20px;
    font-size: 30px;
    text-align: center;
  }
  .btn-registro{
    background-color: #792d2d;
    color: #fff;
    border: none;
    padding: 3%;
  }
  .my-footer{
    height: 20vh;
    background-color: rgba(141, 68, 0, 1);
    text-align: center;
  }
  .pulcrha-footer{
    font-size: 3rem;
    font-family: var(--fuentetitulo);
  }
  .redes{
    font-size: 1.3rem;
  }
  .redes-img{
    display: flex;
    justify-content: space-between;
  }
  .cont-img-redes{
    display: grid;
    margin-inline: 5%;
    grid-template-columns: auto auto;
  }
